/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.doporucujeme {
    display: flex;
    flex-direction: column;
}
.hlavni-recept {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('images/burger.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content:space-between;
    border-bottom: 1px solid white;
}
.recept2 {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('images/sushi.jpg');
    background-repeat: no-repeat;
}
.recept3 {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('images/kure.jpg');
    background-repeat: no-repeat;
}
.recept4 {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('images/rajcata.jpg');
    background-repeat: no-repeat;
}
.recept5 {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('images/grilovani.jpg');
    background-repeat: no-repeat;
}
.recept {
    display: flex;
    flex-direction: column;
    min-height: 90px;
    padding: 10px;
    border-bottom: 1px solid white;
}
.recept-meta {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}
.recept-nazev {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.hlavni-recept,
.recept {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center center;
    background-size: cover;
}

/*tablet*/
@media screen and (min-width: 540px) and (max-width: 960px) {
    .hlavni-recept {
        display: flex;
        min-height: 250px;
        padding: 20px;
    }
    .recepty {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .recept {
        background-position: center center;
        background-size: cover;
        min-height: 150px;
        justify-content: space-between;
    }
    .recept-nazev {
        font-size: 22px;
    }
    .hlavni-recept .recept-nazev {
        font-size: 36px;
    }
    .sloupec {
        width: 50%;
    }
   .recept2 {
    border-right: 1px solid white;
   }
   .recept3 {
    border-right: 1px solid white;
   }
    }

/*PC*/
@media screen and (min-width: 960px) {
    .doporucujeme {
        flex-direction: row;
        justify-content: center;
    }
    .hlavni-recept {
        min-height: 400px;
        flex: 1 33.33333%;
        border-right: 1px solid white;
    }
    .recepty {
        display: flex;
        flex-wrap: wrap;
    }
    .recept {
        min-height: 200px;
    }
    .sloupec {
        flex: 1 33.33333%;
    }
    .recept2 {
        border-right: 1px solid white;
    }
    .recept3 {
        border-right: 1px solid white;
    }
   .hlavni-recept .recept-nazev {
    font-size: 48px;
   }
   .recept-nazev {
    font-size: 28px;
   }
   .recept-meta {
    padding: 20px;
   }
}